<svg #outerSvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600" width="50%" height="50%">
    <g app-zoom-target [designX]="50" [designY]="100" [fill]="'#00FF00'" (zoomToElement)='zoomToElement($event)'></g>
    <g app-zoom-target [designX]="150" [designY]="150" [fill]="'#10FF00'" (zoomToElement)='zoomToElement($event)'></g>
    <g app-zoom-target [designX]="300" [designY]="200" [fill]="'#003F20'" (zoomToElement)='zoomToElement($event)'></g>
    <g app-zoom-target [designX]="450" [designY]="250" [fill]="'#023F00'" (zoomToElement)='zoomToElement($event)'></g>
    <g app-zoom-target [designX]="60" [designY]="300" [fill]="'#00F230'" (zoomToElement)='zoomToElement($event)'></g>
    <g app-zoom-target [designX]="160" [designY]="350" [fill]="'#234567'" (zoomToElement)='zoomToElement($event)'></g>
    <g app-zoom-target [designX]="310" [designY]="400" [fill]="'#234151'" (zoomToElement)='zoomToElement($event)'></g>
    <g app-zoom-target [designX]="450" [designY]="450" [fill]="'#783244'" (zoomToElement)='zoomToElement($event)'></g>
    <g app-zoom-target [designX]="550" [designY]="500" [fill]="'#231142'" (zoomToElement)='zoomToElement($event)'></g>

</svg>